#lhc_status_container {
	box-sizing: content-box;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-box-shadow: -2px -2px 5px rgba(50, 50, 50, 0.17);
	border: 1px solid #e3e3e3;
	border-right: 0;
	border-bottom: 0;
	-moz-box-shadow: -2px -2px 5px rgba(50, 50, 50, 0.17);
	box-shadow: -2px -2px 5px rgba(50, 50, 50, 0.17);
	padding: 5px 0px 0px 5px;
	width: 190px;
	font-family: arial;
	font-size: 12px;
	transition: 1s;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #f6f6f6;
	z-index: 9989;
}

#lhc_status_container .status-icon {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #ed1c24;
	display: block;
	padding: 10px 10px 10px 35px;
	background: url('../img/icon-livehelp-small.png') no-repeat left center;
}

#lhc_status_container * {
	direction: ltr;
	text-align: left;
	font-family: arial;
	font-size: 12px;
	box-sizing: content-box;
	zoom: 1;
	margin: 0;
	padding: 0;
}